@page "/add-customer"
@inject ICustomerService customerService
@inject NavigationManager NavigationManager

<h3>Add Customer</h3>

<CustomerForm Customer="Customer" ButtonTitle="Add Customer" OnValidSubmit="AddCustomer" />

@code {

    private Customer Customer { get; set; } = new();

    private async Task AddCustomer()
    {
        await customerService.AddCustomerAsync(Customer);
        NavigationManager.NavigateTo("customers");
    }

}