@page "/job-details/{id:long}"
@inject IJobService JobService
@inject NavigationManager NavigationManager

@if (Job is not null)
{
    <h3>Details of @Job.Id</h3>
    @switch (Job.JobStatus)
    {
        case JobStatus.Scheduled:
            <button class="btn btn-primary mt-3" @onclick="() => Job.JobStatus = JobStatus.InProcess">@JobStatus.Scheduled</button>
            break;
        case JobStatus.InProcess:
            <button class="btn btn-secondary mt-3" @onclick="() => Job.JobStatus = JobStatus.Done">@JobStatus.InProcess</button>
            break;
        case JobStatus.Done:
            <button class="btn btn-success mt-3">@JobStatus.Done</button>
            break;
    }
    
    <JobForm Job="Job" ButtonTitle="Update Job" OnValidSubmit="UpdateJob" />
    
    <button class="btn btn-danger form-control mt-3" @onclick="DeleteJob">Delete Job</button>
}
else if (!_isFound)
{
    <p>Job with id '@Id' is not found!</p>
}
else
{
    <p>Loading...</p>
}


@code {

    private bool _isFound = true;

    [Parameter]
    public long Id { get; set; }

    private Job? Job { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Job = await JobService.GetJobByIdAsync(Id);
        }
        catch
        {
            _isFound = false;
        }
    }

    private async Task UpdateJob()
    {
        await JobService.UpdateJobAsync(Id, Job);
        NavigationManager.NavigateTo("jobs");
    }

    private async Task DeleteJob()
    {
        await JobService.DeleteJobAsync(Id);
        NavigationManager.NavigateTo("jobs");
    }

}