@page "/add-vehicle-model"
@inject IVehicleModelService vehicleModelService
@inject NavigationManager NavigationManager

<h3>Add Vehicle Model</h3>

<VehicleModelForm VehicleModel="VehicleModel" ButtonTitle="Add VehicleModel" OnValidSubmit="AddVehicleModel" />

@code {

    private VehicleModel VehicleModel { get; set; } = new();

    private async Task AddVehicleModel()
    {
        await vehicleModelService.AddVehicleModelAsync(VehicleModel);
        NavigationManager.NavigateTo("vehicle-models");
    }

}