@page "/vehicle-models"
@inject IVehicleModelService vehicleModelService

@if (VehicleModels is not null)
{
    <table class="table table-hover table-bordered">
        <thead>
        <th>Model Name</th>
        <th>Make</th>
        <th>Year</th>
        <th></th>
        </thead>
        <tbody>
        @foreach (var vehicleModel in VehicleModels)
        {
            <tr>
                <td>@vehicleModel.ModelName</td>
                <td>@vehicleModel.Make</td>
                <td>@vehicleModel.Year</td>
                <td>
                    <a href="details/@vehicleModel.Id">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    
    private IEnumerable<VehicleModel>? VehicleModels { get; set; }

    protected override async Task OnInitializedAsync()
    {
        VehicleModels = await vehicleModelService.GetVehicleModelsAsync();
    }
}