<EditForm Model="VehicleModel" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="mb-3">
        <label class="form-label">Model Name</label>
        <InputText @bind-Value="VehicleModel.ModelName" class="form-control"/>
        <ValidationMessage For="() => VehicleModel.ModelName" />
    </div>
    <div class="mb-3">
        <label class="form-label">Make</label>
        <InputText @bind-Value="VehicleModel.Make" class="form-control"/>
        <ValidationMessage For="() => VehicleModel.Make" />
    </div>
    <div class="mb-3">
        <label class="form-label">Year</label>
        <InputNumber @bind-Value="VehicleModel.Year" class="form-control"/>
        <ValidationMessage For="() => VehicleModel.Year" />
    </div>

    <button type="submit" class="btn btn-primary form-control">@ButtonTitle</button>
</EditForm>

@code {
    [Parameter]
    public VehicleModel VehicleModel { get; set; }
    
    [Parameter]
    public string ButtonTitle { get; set; }
    
    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }
}